/* colors */
.bg-darkblue01{
    background-color: rgb(207, 212, 237);
}

.bg-darkblue05{
    background-color: rgb(5, 27, 111);
}

.bg-darkblue04{
    background-color: rgb(12, 40, 166);
}

.bg-darkblue03{
    background-color: rgb(94, 112, 196);
}

.bg-darkblue02{
    background-color: rgb(174, 183, 226);
}

.bg-white{
    background-color: white;
}

.bg-limegreen{
    background-color: #5CB85F;
}

.txt-white{
    color: white;
}
/* colors */

body{
    overflow-x: hidden;
}

/* shapes */
.navbar-brand{
    Width: 100px;
    height: 34px;
}
.posisi-mobil{
    z-index: 10; 
    position: relative;
}
.br-10px{
    border-radius: 10px;
}
.br-5px{
    border-radius: 5px;
}
.circle-btn{
    height: 25px;
    width: 25px;
    border-radius: 50%;
}
/* shapes */

/* size */
.width-100{
    width: 100%;
}
.size-check{
    width: 24px;
}
.size-card1{
    height: 100%;
}
.ml-55{
    height: 55vh ;
}
.ml-45{
    height: 45vh ;
}
.star-size{
    width: 25px;
    height: 25px ;
}
.tipe-driver{
    cursor: pointer;
    width: 100%;
    background-color: white;  
}

.tipe-driver:hover{
    background-color: rgb(207, 230, 204);
    color: green;
}

.pop-up{
    width: 70%;
    margin: 0 auto !important;
    background-color: white;
    border-radius: 10px;
    transform: translateY(-50%);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    position: relative;
    z-index: 10000;
}

.pop-up.selected{
    box-shadow: 0px 0px 0px 1000vmax rgba(0, 0, 0, 0.6);
}
.input-box{
    width: 100%;
    height: 45px;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    border: 1px solid gray;
    position: relative;
    z-index: 1000;
}
.text-lable{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#cars-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-gap: 2rem;
    width: 80%;
    margin: 0 auto;
}
.card-img-top{
    height: 222px;
    object-fit: cover;
    border-radius: 2px;
}

/* size */

/* positions */
.flex-nav{
    flex-grow: initial;
}
.mrg-15{
    margin-left: 15px;
}
.liststyle{
    list-style: none;
}
.row{
    margin: 0;
}
.reset-padding{
    padding: 0;
}
.jrk-btn{
    width: 120px; 
    margin: 50px;
}
.position-absolute{
    position: absolute;
}
.position-relative{
    position: relative;
}
.position-options{
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
}
.position-options-show{
    display: initial;
}
.date-absolute{
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    transform: translateY(-100%);
}
.text-relative{
    position: relative;
    z-index: 100;
}
.option-padding{
    padding: 10px;
}
.img-position{
    width: 20px;
    position:absolute;
    bottom: 27%;
    right: 5%;
    z-index: 10000;
}
.img-position-check{
    width: 15px;
    position:absolute;
    bottom: 37%;
    right: 10%;
    z-index: 10000;
}
/* positions */

/* carousel */


.swiper-slide {
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
/* carousel */


/* Small devices  */
@media (max-width: 769px) { 
    .wds-100{
        max-width: 100% !important;
    }
    .wds-85{
        width: 85% !important;
    }
    .wds-50{
        width: 50% !important;
    }
    .txts-center {
        text-align: center;
    }
    .txts-left {
        text-align: left;
    }
    .mls-65{
        height: 65vh ;
    }
    .swiper {
        width: 100%;
        height: 100%;
    }
    .swiper-slide {
        width: 100% !important;
        }
    nav.nav-large{
        display: none;
    }
}

/* Large devices  */
@media (min-width: 769px) { 
    .pdnav{
        padding-left: 136px;
    }
    .wd-100{
        max-width: 100% !important;
    }
    .wd-85{
        width: 85% !important;
    }
    .wd-45{
        width: 45% !important;
    }
    .mll-45{
        height: 45vh ;
    }
    .swiper {
        width: 100%;
        height: 100%;
    }
    .swiper-slide {
        width: 50% !important;
        }
    nav.nav-small{
        display: none;
    }
    
}